<h2>客室タイプ編集</h2>

<div class="reserve_form">
  <%= form_for(@room_type, url: admin_room_type_path, method: :patch) do |f| %>
    <%= render 'form', f: f %>
    <%= f.submit "設定を変更", class:"btn btn-primary",  data:{confirm: "設定を変更しますか？"} %>
  <% end %>
</div>
