<h2>予約一覧</h2>

<input type="radio" name="tab" id="apply_tab" checked>
<input type="radio" name="tab" id="approve_tab">
<input type="radio" name="tab" id="arrive_tab">

<div class="tab_area">
  <label class="tab1_label" for="apply_tab">申請一覧</label>
  <label class="tab2_label" for="approve_tab">承認一覧</label>
  <label class="tab3_label" for="arrive_tab">到着一覧</label>
</div>

<div class="panel_area">
  <div id="apply_list" class="tab_panel">
    <% reservations = Reservation.where(status: 0) %>
    <%= render partial: 'list', locals:{reservations: reservations} %>
  </div>
  <div id="approve_list" class="tab_panel">
    <% reservations = Reservation.where(status: 1) %>
    <%= render partial: 'list', locals:{reservations: reservations} %>
  </div>
  <div id="arrive_list" class="tab_panel">
    <% reservations = Reservation.where(status: 4) %>
    <%= render partial: 'list', locals:{reservations: reservations} %>
  </div>
</div>
<p><%= link_to "Sign out", destroy_admin_session_path, method: :delete %></p>
