<h2>予約詳細</h2>
<div>
  <dl>
    <% @reservation.attributes.each do |attr_name, value| %>
        <dt style="float: left; clear: left; width:180px;"><%= attr_name %></dt>
        <dd style="float: left;"><%= value %></dd>
    <% end %>
  </dl>
</div>
<%= Room.find(@reservation.room_id).room_name %>
