<header>
  <%= link_to "Dashboard", root_path, class: "logo" %>
  <nav>
    <ul>
      <li><%= link_to "客室タイプ一覧", admin_room_types_path, method: :get %></li>
      <li><%= link_to "宿泊料金一覧", admin_rates_path, method: :get %></li>
      <li><%= link_to "Sign out", destroy_admin_session_path, method: :delete %></li>
    </ul>
  </nav>
</header>
