<h2>新規宿泊料金作成</h2>

<div class="reserve_form">
  <%= form_for(@rate, url: admin_rates_path, method: :post) do |f| %>
    <%= render 'form', f: f %>
    <%= f.submit "宿泊料金を作成", class: "btn", data:{confirm: "宿泊料金を作成しますか？"} %>
  <% end %>
</div>
