<div class="reserve_form">
  <div>
    <span>予約者名</span><span id="confirmName"></span>
  </div>
  <div>
    <span>メールアドレス</span><span id="confirmMail"></span>
  </div>
  <div>
    <span>電話番号</span><span id="confirmPhone"></span>
  </div>
  <div>
    <span>備考</span><span id="confirmNote"></span>
  </div>
</div>
