
<div class="reserve_form">
  <div>
      <span>予約者名</span><span id="confirmName"></span>
  </div>
  <div>
      <span>メールアドレス</span><span id="confirmMail"></span>
  </div>
  <div>
      <span>電話番号</span><span id="confirmPhone"></span>
  </div>
  <div>
      <span>備考</span><span id="confirmNote"></span>
  </div>
  <div>
      <span>客室名</span><span id="confirmRoom"></span>
  </div>
  <div>
      <span>客室タイプ</span><span id="confirmRoomType"></span>
  </div>
  <div>
      <span>チェックイン日</span><span id="confirmInDate"></span>
  </div>
  <div>
      <span>チェックアウト日</span><span id="confirmOutDate"></span>
  </div>
  <div>
      <span>泊</span><span id="confirmStayCount"></span>
  </div>
  <div>
      <span>宿泊人数</span><span id="confirmGuestCount"></span>
  </div>
  <div>
      <span>宿泊料金</span><span id="confirmStayAmount"></span>
  </div>

</div>
