<% provide(:title) %>


<h1 style="color: lightgray;">500 INTERNAL SERVER ERROR</h1>

<strong style="color: orange; font-size: 18px;">アクセスしようとしたページは表示できませんでした。</strong>

<%= link_to "トップページへ戻る", root_url %>

<p style="color: #f8f8ff ;">? ni emac ew erehw siht t'nsi</p>
