<% provide(:title) %>


<h1 style="color: lightgray;">404 PAGE NOT FOUND</h1>

<strong style="color: orange; font-size: 18px;">お探しのページが見つかりません。</strong>

<p>お探しのページは一時的にアクセスできない状態にあるか、</p>
<p>移動または削除された可能性があります。</p>

<%= link_to "トップページへ戻る", root_url %>

<p style="color: #f8f8ff ;">? ni emac ew erehw siht t'nsi</p>
