<h2>客室一覧</h2>

<div class="room_tag">
  <div class="room_info">
    <h3>シングル</h3>
    <a href="">部屋の詳細</a>
  </div>
  <div class="room_list">
    <table class="rooms" cellspacing="8px">
      <% @rooms.where(room_type_id: '1').in_groups_of(8)  do |row| %>
        <tr>
          <% row.each do |room| %>
            <td>
              <% if room %>
                <strong>
                  <%= room.room_name %>
                </strong>
                <br><a href="">予約状況</a>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="room_tag">
  <div class="room_info">
    <h3>ダブル</h3>
    <a href="">部屋の詳細</a>
  </div>
  <div class="room_list">
    <table class="rooms" cellspacing="8px">
      <% @rooms.where(room_type_id: '2').in_groups_of(8)  do |row| %>
        <tr>
          <% row.each do |room| %>
            <td>
              <% if room %>
                <strong>
                  <%= room.room_name %>
                </strong>
                <br><a href="">予約状況</a>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="room_tag">
  <div class="room_info">
    <h3>トリプル</h3>
    <a href="">部屋の詳細</a>
  </div>
  <div class="room_list">
    <table class="rooms" cellspacing="8px">
      <% @rooms.where(room_type_id: '3').in_groups_of(8)  do |row| %>
        <tr>
          <% row.each do |room| %>
            <td>
              <% if room %>
                <strong>
                  <%= room.room_name %>
                </strong>
                <br><a href="">予約状況</a>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
