/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* header */

header {
  color: white;
  margin-top: 0;
  height: 80px;
  width:100%;
  line-height: 80px;
  background: #404040;
}

.logo {
  float:left;
  padding: 0 20px;
  font-size: 36px;
  font-weight: bold;
  text-decoration: none;
}

header a {
  color: white;
}


header nav ul {
  text-align: center;
  margin-top: 0;
}

header nav ul li {
  padding: 0 20px;
  border-left: white solid 1px;
  display: inline;
}

/* body */
body {
  margin: 0;
}

dt {
  float:left;
}

dd {
  margin-left: 180px;
}

/* rooms */
.container {
  width: 900px;
  margin: 0 auto;
}
.content {
  width: 840px;
  margin: 0 auto;
}
h2 {
  border-bottom: 2px solid #000;
}
.room_set strong {
  font-size: 18px;
}
.room_set td {
  position: relative;
  text-align: center;
  border-radius: 16px;
  border:2px solid black;
  width:82px;
  height:82px;
  empty-cells: hide;
  z-index: 1;
}

.room_set td:hover {
  cursor: pointer;
  background: lightblue;
}

.room_set td a{
  font-size: 18px;
  color: black;
  position: absolute;
  text-decoration: none;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.room_set td a:active{
  color: gray;
}


.room_list {
  list-style: none;
  padding-left: 0;
}

.room_list li {
  padding:16px 0 16px 12px;
  border-bottom: 1px solid #000;
}
.room_list a {
  font-size: 16px;
}
.room_info {
  float: left;
  width: 100px;
}
.room_set {
}

/* calendar */
.calendar-table {
  margin: 0 auto;
  font-size: 20px;
  border-bottom: 1px solid dimgray;
}
.calendar-table caption {
  text-align: left;
  font-size: 24px;
  border-bottom: 1px solid dimgray;
}

.calendar-table th {
  width: 120px;
  height: 90px;
}

.calendar-table td {
  text-align: center;
  width: 120px;
  height: 90px;
}

td[class^="past"] {
  color: gray;
}

.sunday {
  color: #dc6b9a;
}
.saturday {
  color: #4496d3;
}

.current {
  color: orange;
  background: #f8f4e6;
}

.room_rate {
  color: black;
}
.icon {
  text-align: center;
  margin-top: 32px;
}
#prev_weeks, #next_weeks {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  font-size: 15px;
  text-align:  center;
  vertical-align: middle;
  border: none;
  color: white;
  background: #bee0ce;
}
.check_form {
  font-size: 16px;
}

.check_form input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  font-size: 21px;
}

.check_form input[type="date"], input[type="number"]  {
  border: none;
}

.btn {
  font-size: 21px;
  display: inline-block;
  margin: 15px 0 15px auto;
  border: 3px solid black;
  border-radius: 8px;
  padding: 6px 12px;
}

.btn:hover{
  border-color: gray;
  background: dimgray;
  cursor: pointer;
  color: white;
}

.date_form, .result {
  margin: 30px auto;
  text-align: right;
}

.result span {
  margin: 0 20px 0 0;
  font-size: 21px;
}

.result strong {
  font-size: 30px;
}

.reserve_form {
  font-size: 20px;
}

.reserve_form div {
  padding: 5px 0;
  display: flex;
}

.reserve_form label,
.reserve_form span {
  width: 220px;
}

.reserve_form input[type="text"] {
  width: 360px;
}

.reserve_form textarea {
  resize: none;
  width: 360px;
  height: 120px;
}

/* admin */

.panel_area table{
  padding: 10px;
  width: 100%;
}

.panel_area table th {
  border-bottom: 1px solid black;
}

.panel_area table th{
  text-align: left;
}

.panel_area table form {
  display: inline-block;
}

input[type="radio"] {
  display: none;
}

.tab_area {
  margin: 0 10px;
}

.tab_area label {
  width: 100px;
  display: inline-block;
  padding: 8px 0;
  color: #999;
  background: #ddd;
  text-align: center;
  font-size:16px;
  cursor: pointer;
}

.panel_area {
  background: #f8f8ff;
}

.tab_panel {
  display: none;
}

#apply_tab:checked ~ .tab_area .tab1_label {
  background: #f8f8ff;
  color: #000;
}

#apply_tab:checked ~ .panel_area #apply_list {
  display: block;
}

#approve_tab:checked ~ .tab_area .tab2_label {
  background: #f8f8ff;
  color: #000;
}

#approve_tab:checked ~ .panel_area #approve_list {
  display: block;
}

#arrive_tab:checked ~ .tab_area .tab3_label {
  background: #f8f8ff;
  color: #000;
}

#arrive_tab:checked ~ .panel_area #arrive_list {
  display: block;
}
.errors_explain {
  margin-bottom: 16px;
  width: 500px;
}

.errors_explain h3 {
  margin:0;
  padding:6px;
  font-size: 16px;
  color: white;
  background: #dc143c;
}

.errors_explain ul {
  margin:0;
  padding:8px 12px;
  list-style: none;
  font-size: 14px;
  color: black;
  background: #ffe4e1;
  border: 2px solid #dc143c;
}
