/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* header */

header {
  text-align: center;
  margin-top: 0;
  width:100%;

}


.logo {
  line-height: 110px;
  color: #404040;
  padding: 0;
  font-size: 48px;
  font-weight: bold;
  text-decoration: none;
}


.menu {
  line-height: 40px;
  height: 40px;
  width: auto;
  color: white;
  background: #404040;
  margin: 0 auto;
  padding: 0;
  display: flex;
	justify-content: center;
}

.menu li {
  position: relative;
  border-left: white solid 1px;
  list-style: none;
}

.menu li:last-child {
  border-right: white solid 1px;
}

.menu li a {
  text-decoration: none;
  color: white;
  display :block;
  width: 140px;
  text-align: center;
}

.menu li a:hover {
  color: orange;
  background: gray;
}

.menu li ul {
  top:40px;
  left: -40px;
  position: absolute;
}

.menu li ul li {
  overflow: hidden;
  height: 0;
}

.menu li:hover ul li {
  overflow: visible;
  height: 40px;
  background: dimgray;
}

/* body */
body {
  margin: 0;
}

dt {
  float:left;
}

dd {
  margin-left: 180px;
}

/* room_types */

.room_note {
  width: 340px;
  word-wrap: break-word;
  padding-right: 40px;
}
.room_note p {
  margin-top: 0;
}

.room_detail {
  display: flex;
}
.room_img {
  width: 520px;
  text-align: right;
}

.no_img {
  height: 300px;
  width: 520px;
  color: white;
  background: lightgray;
  font-size: 30px;
  text-align: center;
  line-height: 300px;
}

/* rooms */
.container {
  width: 900px;
  margin: 0 auto;
}
.content {
  width: 840px;
  margin: 0 auto;
}
h2 {
  border-bottom: 2px solid #000;
}
.room_set strong {
  font-size: 18px;
}
.room_set td {
  position: relative;
  text-align: center;
  border-radius: 16px;
  border:2px solid black;
  width:82px;
  height:82px;
  empty-cells: hide;
  z-index: 1;
}

.room_set td:hover {
  cursor: pointer;
  background: lightblue;
}

.room_set td a{
  font-size: 18px;
  color: black;
  position: absolute;
  text-decoration: none;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.room_set td a:active{
  color: gray;
}


.room_list {
  list-style: none;
  padding-left: 0;
}

.room_list li {
  padding:16px 0 16px 12px;
  border-bottom: 1px solid #000;
}
.room_list a {
  font-size: 16px;
}
.room_info {
  float: left;
  width: 100px;
}

/* calendar */
.calendar-table {
  margin-bottom:30px;
  font-size: 20px;
  border-bottom: 1px solid dimgray;
}
.calendar-table caption {
  text-align: left;
  font-size: 24px;
  border-bottom: 1px solid dimgray;
}

.calendar-table th {
  width: 120px;
  height: 90px;
}

.calendar-table td {
  text-align: center;
  width: 120px;
  height: 90px;
}

.calendar-table td p {
  font-size: 14px;
  color: brown;
  margin: 0;
}

.calendar-table td[class^="past"] {
  color: gray;
  background: #f5f5f5;
}

.calendar-table td:hover:not([class^="past"]){
  cursor: pointer;
  color: white;
  background: lightskyblue;
}

#msg_inst {
  font-size: 18px;
  color:lightseagreen;
}

.sunday {
  color: #dc6b9a;
}
.saturday {
  color: #4496d3;
}

.current {
  color: orange;
  background: #f8f4e6;
}

.datein {
  background: #C5E6F9;
}

.dateout {
  background: lavender;
}

.duration {
  background: #e5f0ff;
}
.room_rate {
  color: black;
}
.icon {
  text-align: center;
}
button[class^="prev_weeks"],
button[class^="next_weeks"] {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  font-size: 15px;
  text-align:  center;
  vertical-align: middle;
  border: none;
  color: white;
  background: #bee0ce;
  cursor: pointer;
}

.check_form,
.check_form input {
  font-size: 20px;
}


.btn_bars {
  text-align: right;
}

.btn {
  font-size: 21px;
  display: inline-block;
  margin: 15px 0;
  border: 3px solid black;
  border-radius: 8px;
  padding: 6px 12px;
}

.btn:hover{
  border-color: gray;
  background: dimgray;
  cursor: pointer;
  color: white;
}

.date_form, .result {
  margin: 30px auto;
}

.date_form {
  display: flex;
}

.date_form ul {
  list-style: none;
  padding: 0;
  flex: 1;
}

.date_form ul li {
  display: flex;
}

div[id^="msg"] {
}

#msg_full {
  background: #ffe4e1;
  color: red;
  margin-right: 30px;
}

.result span {
  margin: 0 20px 0 0;
  font-size: 21px;
}

.result strong {
  font-size: 30px;
}

.reserve_form {
  font-size: 20px;
}

.reserve_form div {
  padding: 5px 0;
  display: flex;
}

.reserve_form label,
.reserve_form span {
  width: 220px;
}

span[class^="msg"] {
  width: auto;
  margin-left: 10px;
  font-size: 18px;
  background: #ffe4e1;
  color: red;
}

.reserve_form input[type="text"] {
  width: 280px;
}

.reserve_form textarea {
  resize: none;
  width: 280px;
  height: 120px;
}

.form_list {
  background: aliceblue;
}



/* admin */

.panel_area table{
  padding: 10px;
  width: 100%;
}

.panel_area table th {
  border-bottom: 1px solid black;
}

.panel_area table th{
  text-align: left;
}

.panel_area table form {
  display: inline-block;
}

input[type="radio"] {
  display: none;
}

.tab_area {
  margin: 0 10px;
}

.tab_area label {
  width: 100px;
  display: inline-block;
  padding: 8px 0;
  color: #999;
  background: #ddd;
  text-align: center;
  font-size:16px;
  cursor: pointer;
}

.panel_area {
  background: #f8f8ff;
}

.tab_panel {
  display: none;
}

#apply_tab:checked ~ .tab_area .tab1_label {
  background: #f8f8ff;
  color: #000;
}

#apply_tab:checked ~ .panel_area #apply_list {
  display: block;
}

#approve_tab:checked ~ .tab_area .tab2_label {
  background: #f8f8ff;
  color: #000;
}

#approve_tab:checked ~ .panel_area #approve_list {
  display: block;
}

#arrive_tab:checked ~ .tab_area .tab3_label {
  background: #f8f8ff;
  color: #000;
}

#arrive_tab:checked ~ .panel_area #arrive_list {
  display: block;
}

.errors_explain {
  margin-bottom: 16px;
  width: 500px;
}

.errors_explain h3 {
  margin:0;
  padding:6px;
  font-size: 16px;
  color: white;
  background: #dc143c;
}

.errors_explain ul {
  margin:0;
  padding:8px 12px;
  list-style: none;
  font-size: 14px;
  color: black;
  background: #ffe4e1;
  border: 2px solid #dc143c;
}
