<header>
  <%= link_to "Reserve App", root_path, class: "logo" %>
  <nav>
    <ul>
        <li><%= link_to "予約検索", search_reservations_path %></li>
        <li>Contact</li>

    </ul>
  </nav>
</header>
